html,body,.website{ 
  height: 100%;
  padding: 0;
  margin: 0;
}

.website{ 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  font-family: "Poppins", sans-serif;
}
.container{ 
  height: 70%;
  width: 55%;
  background-color: white;
  border-radius: 20px;
  border-bottom-right-radius: 200px;
}


.input-container{ 
  width: 95%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-direction: column;
}

.input{ 
  height: 50px;
  width: 130px;
  font-size: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p{ 
  color: gray;
  font-weight: bold;
  font-size: 15px;
  
}

hr{ 
  width: 100%;
}
.box{ 
  width: 100%;
  display: flex;
  
  gap: 30px;
}

.button{ 
  width: 100px;
  height: 60px;
  font-size: large;
  background-color: blue;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
.age{ 
  font-weight: bold;
}

.error{ 
  color: red;
  font-size: 1em;
}

.purple{ 
  color: purple;
  font-size: 3em;
}

.text{ 
  display: flex;
  align-items: center;
  
}
.idk{ 
  font-size: 3em;
}


@media (max-width: 1100px) { 
  .box{ 
    justify-content: center;
  }
  .input{ 
    width: 100%;
  }
  .input-box{ 
    width: 20%;
  }
  .container{ 
    width: 70%;
  }
}

@media(max-width: 650px){ 
  .container{ 
    width: 90%;
  }
}